@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");

/* mobile first */

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.background-art {
  position: absolute;
  width: 375px;
  height: 400px;
  margin: -50px 0;
  border: 1px solid red;
  background-image: url(/images/pattern-bg.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.quote {
  background-image: url(/images/pattern-quotes.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  height: 50px;
  width: 70px;

  margin: 375px 0;
  left: 50%;

  transform: translateX(-50%);

  z-index: 99;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 375px;
  margin: 0 auto;
  border: 1px solid black;
  margin-top: 100px;
  margin-bottom: 20px;
}

.slider {
  position: relative;
  margin: 0 auto;
}

img {
  object-fit: contain;
  max-width: 300px;
}

.button-container {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: -20px;
}

/* Button */
button {
  padding: 10px;
}

.container-post {
  max-width: 350px;
  text-align: center;
  margin: 0 auto;
}

h1 {
  margin: 100px 0 50px;
  font-weight: 300;
  font-size: 2rem;
}
