@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");

/* mobile first */
/* padding/margin is a real mess */

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 62.5%;
}

h1 {
  margin: 10rem 0 3rem;
  font-weight: 300;
  font-size: 2rem;
  color: hsl(240, 38%, 20%);
}

p {
  font-size: 1.6rem;
}
/* ------------- BACKGROUND ART------------------ */

.background-quote,
.background-curve,
.background-art {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  z-index: -1;
}

.background-art {
  background-image: url(/images/pattern-bg.svg);
  width: 375px;
  height: 400px;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}

.background-quote {
  background-image: url(/images/pattern-quotes.svg);
  height: 50px;
  width: 70px;
  top: 75px;
  left: 50%;
  transform: translateX(-50%);
}

.background-curve {
  background-image: url(/images/pattern-curve.svg);
  width: 375px;
  height: 80px;
  left: 50%;
  transform: translateX(-50%);
  top: 46px;
  background-position: left;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 375px;
  padding-top: 32px;
  margin: 50px auto 20px;
}

.slider {
  position: relative;
  margin: 0 auto;
}

#portrait {
  border-radius: 8px;
  object-fit: contain;
  max-width: 280px;
  box-shadow: 1px 1px 10px -4px hsl(0, 4%, 79%);
}

.button-container {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: -20px;
  border-radius: 50px;
  overflow: hidden;
  box-shadow: 2px 2px 15px hsl(240, 18%, 77%);
}

/* Button */
.btn {
  outline: none;
  background-color: white;
  padding: 0.8rem 1.4rem;
  border: none;
}

.btn img {
  transition: transform 0.1s ease;
}

.btn:hover {
  cursor: pointer;
  /* border: 1px solid white; */
  transform: scale(1.2);
}

.container-post {
  position: relative;
  max-width: 350px;
  text-align: center;
  margin: 0 auto 8.4rem;
}

.container-post-name {
  color: hsl(240, 18%, 77%);
  position: relative;
}

.name {
  color: hsl(240, 38%, 20%);
}

@media (min-width: 900px) {
  .container {
    max-width: 900px;
    flex-direction: row-reverse;
    align-items: center;
  }

  .container-post {
    text-align: left;
  }

  .slider {
    margin-left: -50px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1340px;
    padding-bottom: 143px;
  }

  .container-post {
    max-width: 500px;
  }

  .slider {
    /* the margin between the childs are being subtracted  */
    margin-left: -250px;
  }

  #portrait {
    max-width: 500px;
  }

  .background-art {
    width: 700px;
    height: 620px;
  }

  .background-quote {
    left: 30%;
    width: 100px;
    height: 100px;
    top: 43px;
  }
  .background-curve {
    width: 500px;
    height: 200px;
    top: 100px;
    left: 140px;
  }

  h1 {
    font-size: 3.4rem;
  }

  p {
    font-size: 2rem;
    margin-right: 10px;
  }

  .container-post-name {
    display: flex;
  }

  .button-container {
    left: 20%;
  }

  .btn {
    padding: 1.8rem 2.2rem;
  }
}

/* Animation */
@keyframes showPortrait {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.portrait {
  animation: showPortrait;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
}

@keyframes fadeToRight {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  75% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0);
  }
}

.fadeToRight {
  animation-name: fadeToRight;
  animation-duration: 1s;
}
