@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 62.5%;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 375px;
  margin: 0 auto;
  border: 1px solid black;
}

.slider {
  position: relative;
}

img {
  object-fit: contain;
  max-width: 375px;
}

.button-container {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: -20px;
}

button {
  padding: 10px;
}

.back {
  left: 50%;
}
